
@{
    ViewData["Title"] = "success";
}
<div class="form-group">
    We appreciate your business! If you have any questions, please email
    <a href = "mailto:orders@example.com" > orders@example.com </a> >.

</div>
<div class="form-group">
    
</div>